*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aka{
    height: 48px;
    width: auto;
}

#dying {
    display: inline-block;
    color: white;
    font-size: 32px;
}

#splashscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 9999;
    background-color: black;
    overflow-x: auto;
    overflow-y: auto;
}


body{
    font-family: 'Days One', sans-serif;
    height: 100%;
   overflow-y: hidden;
   min-height: 100vh;
   background-color: orange;

}

.social {   
    height: fit-content;
}

#github{
    fill: black;
}

#avi {
    display: flex;
    justify-content: center;
}

.coeavi{
    border-radius: 50%;
    object-fit: cover;
    height: 120px;
    width: 120px;
}
.intoxicated{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: -1000;
    overflow: auto;
}
.white{
    width: 50%;
    height: auto;
}
#maincontent {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
}