.aka{
    height: 48px;
    width: auto;
}

#dying {
    display: inline-block;
    color: white;
    font-size: 32px;
}

#splashscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 9999;
    background-color: black;
    overflow-x: auto;
    overflow-y: auto;
}


body{
    font-family: 'Days One', sans-serif;
    height: 100%;
   overflow-y: hidden;
}

.social {   
    height: fit-content;
}

#github{
    fill: black;
}