*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    font-family: 'Days One', sans-serif;
    height: 100%;
   overflow-y: hidden;
   min-height: 100vh;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
}



.aka {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    width: 180px;
}

.marker {
    position: fixed;
    top: 0%;
    left: 0;
}

.markerx {
    width: 50px;
    height: 50px;
    filter: opacity(.1);
    mix-blend-mode: screen;
}
.markerx:hover{
    filter: opacity(1);
}

#dying {
    display: inline-block;
    color: white;
    font-size: 32px;
}

#splashscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 10;
    -webkit-backdrop-filter: blur(10px) brightness(6%);
    backdrop-filter: blur(10px) brightness(6%);
    overflow-x: auto;
    overflow-y: auto;
}

.social {   
    height: fit-content;
}

#github{
    fill: black;
}

#avi {
    display: flex;
    justify-content: center;
}

.coeavi{
    border-radius: 50%;
    object-fit: cover;
    height: 180px;
    width: 180px;
}

.name{
    font-size: 50px;
    text-shadow:0px 0px 16.5px;
    color: white;
}

.stat{
    display: flex;
    justify-content: center;
    align-items: center;
}
.status{
    font-family: 'Days One', sans-serif;
    font-size: 25px;
    text-shadow:0px 0px 1px;
    color: white;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 10px;
}

.status:hover span{
    display: none;
}

.status:hover:before{
    font-family: 'Days One', sans-serif;
    font-size: 25px;
    content: "You must first achieve the act/feeling/thought of nothingness in order to create the space for the creation of everything";
}

.intoxicated{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: screen;
    opacity: 9%;
}

#black{
    opacity: 100%;
}

#peace{
    position:fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 36%;
}
.white{
    width: 888px;
    height: auto;
}

#maincontent {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.0);
    height: 60vh;
    width: 100vw;
    border-radius: 27px;
    padding: 50px 25px;
    border: 0px solid rgb(255, 255, 255, 0.1);
    margin-bottom: 25vh;
}

#angels{
    display: flex;
    position: relative;
    top: 300px;
    font-size: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
    color: white;
    text-align: center;
}

#angels:hover span{
    display: none;
}

#angels:hover:before{
    font-family: 'Days One', sans-serif;
    content: "*ੈ✩‧₊˚wish you well˚☽˚｡⋆˖°";
}

.discord{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    filter: invert(100%) drop-shadow(0 0 16px #FFFFFF);
}

#ntxctd{
    justify-content: center;
    align-items: center;
    height: 220px;
    width: auto;
}
#verified{
    display: flex;
    position: absolute;
    z-index: 7;
    top:150px;
    left: 600px;
}
#check{
    height: 24px;
    width: auto;
}
#pentagram{
    z-index: 1;
    position: relative;
    top: 180px;
    left: 60px;
    height: 50px;
    width: 50px;
}
#stars{
    position: relative;
    top: 100px;
    right:60px;
    height: 60px;
    width: auto;
}

@media all and (max-width: 767px) {
    #dying{
        font-size: 5vw;
    }
    .white{
        width: 100vw;
        height: auto;
    }
    .markerx{
        display: none;
    }
    #pentagram{
        top: 120px;
        left: 40px;
        height: 10vw;
        width: auto;
    }
    .coeavi{
        height: 30vw;
        width: auto;
    }
    .name{
        font-size: 8vw;
    }

    .status{
        font-size: 5vw;
    }

    .status:hover span{
        display: none;
    }
    
    .status:hover:before{
        font-family: 'Days One', sans-serif;
        font-size: 5vw;
        content: "the world would be perfect if it were empty";
    }
    .discord{
        display: none;
    }
    .icon{
        width: 10vw;
        height: auto;
    }
    #angels{
        top: 25vh;
    }

    #angels:hover span{
        display: none;
    }
    
    #angels:hover:before{
        font-family: 'Days One', sans-serif;
        content: "✩₊˚.⋆☾⋆⁺₊✧";
    }
}